@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-100.eot') format('embedded-opentype'), url('../Montserrat/Montserrat-100.woff') format('woff'), url('../Montserrat/Montserrat-100.ttf') format('truetype'), url('../Montserrat/Montserrat-100.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.eot') format('embedded-opentype'), url('../Montserrat/Montserrat-ExtraLight.woff') format('woff'), url('../Montserrat/Montserrat-ExtraLight.ttf') format('truetype'), url('../Montserrat/Montserrat-ExtraLight.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.eot') format('embedded-opentype'), url('../Montserrat/Montserrat-Light.woff') format('woff'), url('../Montserrat/Montserrat-Light.ttf') format('truetype'), url('../Montserrat/Montserrat-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.eot') format('embedded-opentype'), url('../Montserrat/Montserrat-Regular.woff') format('woff'), url('../Montserrat/Montserrat-Regular.ttf') format('truetype'), url('../Montserrat/Montserrat-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.eot') format('embedded-opentype'), url('../Montserrat/Montserrat-Medium.woff') format('woff'), url('../Montserrat/Montserrat-Medium.ttf') format('truetype'), url('../Montserrat/Montserrat-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.eot') format('embedded-opentype'), url('../Montserrat/Montserrat-SemiBold.woff') format('woff'), url('../Montserrat/Montserrat-SemiBold.ttf') format('truetype'), url('../Montserrat/Montserrat-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.eot') format('embedded-opentype'), url('../Montserrat/Montserrat-Bold.woff') format('woff'), url('../Montserrat/Montserrat-Bold.ttf') format('truetype'), url('../Montserrat/Montserrat-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot') format('embedded-opentype'), url('../Montserrat/Montserrat-ExtraBold.woff') format('woff'), url('../Montserrat/Montserrat-ExtraBold.ttf') format('truetype'), url('../Montserrat/Montserrat-ExtraBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Black.eot') format('embedded-opentype'), url('../Montserrat/Montserrat-Black.woff') format('woff'), url('../Montserrat/Montserrat-Black.ttf') format('truetype'), url('../Montserrat/Montserrat-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

